:root { 
    --sapButton_Hover_BorderColor: #123456;
    --sapInfobar_TextColor: #ded412 ;
    --sapList_TextColor: #e6e291 ;
    --sapButton_Background:#e6e291 ;
    --sapList_HeaderBorderColor: #e6e291 !important;

}
.page {
    margin: 0 auto; 
    max-width: 90%;
    padding-top: 10px;
}

.header{
    color: red;  
}
.customText{
    font-size: 20px;
    color: white;
}
.customButton{
    margin: 20px 0;
    background-color: green;
    color: white;
    border: 2px solid red;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 12px;
}
.customTable{
    width: 100%;
    border-collapse: collapse;
    color: white;
}

.customTable td, .customTable th{
    border: 1px solid green;
    padding: 10px;
    

}
.Hbox{
    display: flex;
    gap: 30px;
}
.myCustomDiv{
    margin: 30px 0;
    border: 1px solid white;
    padding: 16px;
    border-radius: 10px;
}
.myHeading{
    font-size: 1.5rem;
    color: green;
    margin-bottom: 10px;
}
.myParagraph{
    font-size: 1rem;
    color: #fff;
   
    display: flex;
    flex-wrap: wrap;
}
.customSearchField {
    display: flex;
    align-items: center;
    gap: 8px;
}

.searchInput {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    margin-bottom: 20px
}

.searchButton {
    padding: 8px 16px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    margin-bottom: 20px
}

.searchButton:hover {
    background-color: rgb(34, 110, 34);
}
