:root { 
    --sapButton_Hover_BorderColor: #123456;
    --sapInfobar_TextColor: #ded412 ;
    --sapContent_LabelColor: #e6e291 ;
    --sapButton_Background:#e6e291 ;

}
.buttonGap{
    display: flex;
    gap: 20px
}

